<?xml version="1.0" encoding="UTF-8"?>

<mule 
xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
xmlns:https="http://www.mulesoft.org/schema/mule/https"
xmlns:tls="http://www.mulesoft.org/schema/mule/tls" 
xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" 
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:context="http://www.springframework.org/schema/context" 
xmlns:core="http://www.mulesoft.org/schema/mule/core" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
xmlns:http="http://www.mulesoft.org/schema/mule/http" 
xmlns:spring="http://www.springframework.org/schema/beans" 
xmlns:ss="http://www.springframework.org/schema/security"
xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
version="EE-3.7.0"
xsi:schemaLocation="
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/current/mule-spring-security.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd">
	<!-- This is the main configuration file, you should place here all the Connectors configuration and declarations -->

    <context:property-placeholder location="common.properties, mule.${mule.env}.properties"/>

    <mule-ss:security-manager xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security" name="single-user-security-manager">
        <mule-ss:delegate-security-provider name="single-user-security-provider" delegate-ref="single-user-authentication-manager"/>
    </mule-ss:security-manager>

    <api-platform-gw:client-store xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" id="single-user-client-store"/>
    <api-platform-gw:client-security-provider xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" id="single-user-client-security-provider"/>

    <oauth2-provider:config 
        name="external-oauth2-provider"
        providerName="Ping API" 
        resourceOwnerSecurityProvider-ref="single-user-security-provider" 
        clientSecurityProvider-ref="single-user-client-security-provider" 
        clientStore-ref="single-user-client-store"
        scopes="${scopes}"
        defaultScopes="${scopes}" 
        supportedGrantTypes="${supported.grant.types}" 
        authorizationEndpointPath="${authorization.endpoint.path}" 
        accessTokenEndpointPath="${access.token.endpoint.path}" 
        tokenTtlSeconds="86400" 
        enableRefreshToken="true"
        listenerConfig-ref="https.listener">
    </oauth2-provider:config>

</mule>
